*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #000;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
/** Scroll **/
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.3);
	width: 10px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px #00000070;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .4);
	background: linear-gradient(125deg, #033da8, #2d2abb);
	border-radius: 5px;
}

::-moz-scrollbar {
    background: rgba(51, 102, 147, 0.3);
	width: 10px;
} 
::-moz-scrollbar-track {
	box-shadow: inset 0 0 10px #00000070;
	border-radius: 5px;
}
::-moz-scrollbar-thumb {
	background: rgba(0, 0, 0, .4);
	background: linear-gradient(125deg, #18181a, #c03535);
	border-radius: 5px;
}




/** Header **/
#header{
    width: 100%;
    position: relative;
}
/** Header con image **/
.img-header{
    background: url(../images/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color:rgba(6, 0, 32, 0.6);
    background-blend-mode: soft-light;
    
    position: relative;
    width: 100%;
    height: 100vh;
}
.img-header .header-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
.img-header .header-info h2{
    color:#fff;
    font-size: 70px;
    font-weight: normal;
}
.img-header .header-info hr{
    border:none;
    outline: none;
    height: 2px;
    background: #fff;
    width: 600px;
    margin:15px 0px;
}
.img-header .header-info p{
    color:#fff;
    font-size: 20px;
}

/** Menu Navegacion **/
.menu{
    width: 100%;
    height: 66px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #2737FF;
}
.menu .btn-menu{display: none;}
.menu .log-box{margin-left: 50px;}
.menu .log-box h1{
    font-weight: normal;
    font-size:30px;
    color:#fff;
}
.menu .list-container{margin-right:50px; transition: 0.5s;}
.menu .list-container .lists{display: flex;}
.menu .list-container .lists li{list-style: none;}
.menu .list-container .lists li a{
    text-decoration: none;
    color:#fff;
    border-radius: 15px;
    font-size: 19px;
    padding:5px;
    margin:0px 10px;
    transition: 0.3s;
}
.menu .list-container .lists li a.active{
    background:#2737FF;
    color:#fff;
}
.menu .list-container .lists li a:hover{
    background:#2737FF;
    color:#fff;
}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

/** Main **/
#main{
    width: 100%;
}

/** Mision **/
.mission{
   width: 100%;
} 
.mission-info{
    width: 80%;
    margin:100px auto;
}
.mission-info h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: normal;
    color:rgb(95, 98, 255);
}
.mission-info p{
    font-size: 19px;
    color:#fff;
    line-height: 40px;
    margin:30px 0px;
    text-align: center;
}
.mission .spacey-img{
    width: 50%;
    margin:auto;
}
.mission .spacey-img img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    transform:rotate(-3deg);
    cursor: pointer;
}

/** Cachungas **/
.backsi{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top:100px;
}
.backsi .figure-img{
    background: url(../images/fondo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: soft-light;

    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backsi .figure-img h4{
    width: 80%;
    color:#fff;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    line-height: 60px;
}
.skew-abajo{
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 0 1vh 100vw;
	border-style: solid;
	border-color: transparent transparent #2737FF transparent;
}
.skew-arriba{
	position: absolute;
	top: 0;
	left: 0;
	border-width: 1vh 100vw 0 0;
	border-style: solid;
	border-color: #2737FF transparent transparent transparent;
	z-index: 10;
}

/** Gallery **/
.gallery-section{
    width:100%;
    margin:150px 0px ;
}
.gallery-container{
    width: 80%;
    margin:auto;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,350px);
}
.gallery-container .img-card{
    overflow:hidden;
}
.gallery-container .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;   
    transition: 0.5s; 
}
.gallery-container .img-card:hover img{
    transform: scale(1.5) rotate(30deg);
}

/** Galeria Modal **/
.modal-gallery{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.9);
    padding:40px;
    z-index: 99999;
    display: none;
}
.modal-gallery .close-modal{
    position: absolute;
    top:20px;
    right: 20px;
    color:#fff;
    font-size:30px;
    cursor: pointer;
}
.modal-gallery #imgModal{
    width:60%;
    margin:auto;
    display: block;
    height: 400px;
    object-fit: cover;
}
.modal-gallery .captionModal{
     color:#fff;
     display:flex;
     justify-content: center;
     font-size:19px;
     margin:20px 0px;
}
.gallery-list{
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(1,100px);
}
.gallery-list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
}
.gallery-list img:hover{
    opacity:0.5;
}

/** Footer **/
#footer{
    width:100%;
    height: 60px;
    background:#000;
    display:flex;
    justify-content: center;
    align-items:center;
}
#footer p{
    color:#fff;
    font-size:19px;
}
